.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.loading-results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  grid-area: list;
}
.loading-results > * {
  margin: 1rem;
}

@media (max-width: 885px) {
}
