.player-wrapper {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  gap: 1rem;
}

.player-page {
  background-color: inherit;
  color: inherit;
  display: grid;
  grid-template-areas: "player-context stat-select" "prediction stat-table" "stat-chart stat-chart";
  grid-column: 1/3;
}

.player-page .player-context {
  grid-area: player-context;
  flex-direction: row-reverse;
  width: max-content;
}
.player-page .stat-select {
  grid-area: stat-select;
}

.player-page .prediction {
  grid-area: prediction;
}

.player-page .player-stats {
  grid-area: stat-table;
}

.player-page .player-context .player-photo {
  max-width: 250px;
  max-height: 250px;
}

.player-page .player-name {
  font-size: 4.5vw;
  margin-right: 6px;
}

.player-page .player-position {
  margin-left: 10px;
}
