#projection-summary {
  grid-area: summary;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#distribution-summary {
  grid-area: dist;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
