ul {
  padding:0;
}

body {
  background-color:#181714;
}

table {
  margin:auto;
}

thead {
  font-size:1.5rem
}

thead * {
  padding:1rem;
}

.player {
  background-color:#181714;
}

.player:hover {
  background-color:rgb(170, 170, 170);
}

.player th {
  font-weight: 700;
  font-size:1.5rem;
  color:black;
  padding:.725em;
}

.player td {
  font-weight: 400;
  font-size: 1.25rem;
  color:black;
  padding:.125em;
  text-align:center;
}

.team {
  font-size:1.25rem;
  font-weight: 400;
  color:coral;
}

.opponent {
  color:rgb(194, 62, 62);
}

.playercard {
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  margin:1em;
  background-color:#395c6b;
  max-width: 130ch;
}

@media (max-width:1020px) {
  .player-photo {
    display:none;
  }
  thead {
    font-size:1rem;
  }

}

.player-photo {
  max-width: 13.6842105263em;
  max-height: 10em;
  align-self: end;
}

.player-since {
  margin:0;
  padding:0;
  /* width: inherit; */
  /* border:1px solid red; */
}

* {
  border:1px solid grey;
}
.player-since button {
  border:none;
  border-radius:.2em;
  padding:.1em;
  margin:.2em;
}

.player-since button:hover {
  cursor: pointer;
}

.unselected {
  background-color:lightblue;
}

.selected {
  font-weight: bold;
  background-color:orange;
}

li {
  margin:0;
  padding:0;
  list-style:none;
  display:inline;
}

.player-ovr-und {
  display:block;
}

.player-info {
  padding-top:.5rem;
  width:40ch;
  /* border: 1px solid green; */
}
.player-info > * {
  margin:0;
  padding:0;
  padding:.05rem .5rem;
}

.player-ovr-pct {
  padding:1px;
  border-radius:5px;
}

.player-stats td, th {
  text-align:center;
  padding:0 .5rem;
}

.player-stats {
  margin:.5rem 0;
}