* {
  margin: 0;
  padding: 0;
  border: 0;
  /* border: 1px solid gold; */
}
@font-face {
  font-family: "Oswald-Reg";
  src: local("Oswald-Regular"),
    url("../fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Light";
  src: local("Oswald-Light"),
    url("../fonts/Oswald-Light.ttf") format("truetype");
}

.teams-dropdown {
  max-width: 10em;
}

:root {
  --color-black: #181714;
  --color-grey: #c2cecd;
  --color-primary: #395c6b;
  --color-accent: #f59a4b;
  --color-white: #f8ffff;
  --color-warning: rgb(199, 69, 69);
  --color-high: rgb(91, 255, 165);
  --color-med: rgb(255, 253, 140);
  --color-low: rgb(248, 113, 113);
  --grid-gap: 1em;
}
.high {
  color: var(--color-high);
}

.med {
  color: var(--color-med);
}

.low {
  color: var(--color-low);
}

html {
  background-color: var(--color-black);
  font-family: "Oswald-Light";
  color: var(--color-white);
}

.datalist-items {
  color: var(--color-black);
}

.datalist-input .datalist-items {
  max-height: 200px;
  overflow: scroll;
}

.players {
  margin: 1rem 1%;
}

.players-list {
  margin: 1rem;
}

.header {
  text-align: end;
}

.bold {
  font-weight: bold;
}

.titlecase {
  text-transform: capitalize;
}

.tall {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sorter {
  display: flex;
}

.right {
  text-align: right;
}
