table {
  border:2px solid black;
  margin:auto;
  padding:.5em;
}

thead {
  font-size:1.5rem
}

thead * {
  padding:1rem;
}

.player {
  background-color:gainsboro;
}

.player:hover {
  background-color:rgb(170, 170, 170);
}

.player th {
  font-weight: 700;
  font-size:1.5rem;
  color:black;
  padding:.725em;
}

.player td {
  font-weight: 400;
  font-size: 1.25rem;
  color:black;
  padding:.125em;
  text-align:center;
}

.team {
  font-size:1.25rem;
  font-weight: 400;
  color:coral;
}

.opponent {
  color:rgb(194, 62, 62);
}