table {
  border:2px solid black;
  margin:auto;
  padding:.5em;
}

thead {
  font-size:1.5rem
}

thead * {
  padding:1rem;
}

.player {
  background-color:gainsboro;
}

.player:hover {
  background-color:rgb(170, 170, 170);
}

.player th {
  font-weight: 700;
  font-size:1.5rem;
  color:black;
  padding:.725em;
}

.player td {
  font-weight: 400;
  font-size: 1.25rem;
  color:black;
  padding:.125em;
  text-align:center;
}

.team {
  font-size:1.25rem;
  font-weight: 400;
  color:coral;
}

.opponent {
  color:rgb(194, 62, 62);
}

.playercard {
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  margin:1em;
  background-color:lightgrey
}

.player-photo {
  max-width: 10em;
  max-height: 10em;
}

.player-since {
  margin:0;
  padding:0;
}

li {
  margin:0;
  padding:0;
  list-style:none;
  display:inline;
}

.player-ovr-und {
  display:block;
}

.player-info {
  padding-top:.5rem
}
.player-info > * {
  margin:0;
  padding:0;
  padding:.05rem .5rem;
}

.player-ovr-pct {
  padding:1px;
  border-radius:5px;
}

.high {
  background-color:rgb(91, 255, 165);
}

.med {
  background-color:rgb(255, 253, 140);
}

.low {
  background-color:rgb(248, 113, 113);
}

.player-stats td, th {
  text-align:center;
  padding:0 .5rem;
}

.player-stats {
  margin:.5rem 0;
}