.player-page {
  background-color: var(--color-primary);
  color: var(--color-black);
  display: grid;
  grid-template-columns: auto 1fr;
}

#games-dropdown {
  margin-left: 1rem;
  width: 250px;
}

.player-info > button {
  margin-left: 1rem;
  background-color: var(--color-grey);
  padding: 0.25em;
}

.player-info > button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

@media (max-width: 555px) {
  .player-page {
    grid-template-columns: 1fr;
  }
  .player-page .player-stats {
    gap: 0;
  }

  #profile-chart {
    text-align: center;
    margin: auto;
    height: 150px !important;
    width: 150px;
  }
}

.player-page > * {
  grid-area: inherit;
}

.player-page .player-context {
  grid-area: inherit;
  flex-direction: row-reverse;
  width: max-content;
}

.player-page .player-context .player-photo {
  max-width: 250px;
  max-height: 250px;
}

.player-page .player-name {
  font-size: 4.5vw;
  margin-right: 6px;
}

#profile-chart {
  text-align: center;
  margin: 0 auto;
  height: 350px;
}

.player-page .player-position {
  margin-left: 10px;
}

#chart {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/ -1;
  max-height: 500px;
  margin-inline: 50px;
}

canvas {
  max-width: 100%;
  max-height: 500px;
}

.player-page .player-stats {
  grid-column: 1/-1;
  font-size: min(3.5vw, 1.6em);
  overflow: scroll;
}

table,
tr,
td,
th {
  border: 1px solid black;
  padding: 0.25rem;
  text-align: center;
  border-collapse: collapse;
}
