.player-page {
    background-color: var(--color-white);
    color: var(--color-black);
}
#chart {
    display:flex;
    align-items: center;
    justify-content: center;
}

canvas {
    max-width:1000px;
    max-height:700px;
}