.react-calendar__tile,
.react-calendar__month-view__weekdays,
.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile {
  width: 1rem;
}

.react-calendar__tile--active {
  color: white;
  background-color: var(--color-accent);
}

.active {
  background: var(--color-primary) !important;
  color: white;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(121, 121, 121, 0.495);
  color: black;
}

.react-calendar__month-view__days .high {
  background: rgba(56, 82, 56, 0.874);
}

.react-calendar__month-view__days .med {
  background: rgba(206, 214, 184, 0.508);
}

.react-calendar__month-view__days .low {
  background: rgba(226, 178, 178, 0.397);
}

.react-calendar__month-view__days .na {
  background: rgba(64, 64, 64, 0.492);
  color: white;
}
